@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.hero {
  width: 100%;
  height: 100%;
  background-image: url(./images/hero.jpg);
  background-attachment: fixed;
  background-position: right 300px top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 150px;
  height: 100px;
  cursor: pointer;
}
.logo a{
    color: white;
    text-decoration: none;
    
}
.massimo {
  font-family: "Dancing Script", cursive;
  padding-left: 100px;
  font-size: 2.5rem;
  cursor: pointer;
}
.nav {
  padding-top: 50px;
  width: 100%;
  position: absolute;
  z-index: 5;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  position: absolute;
  right: 0;
  padding-right: 120px;
}

.nav ul li {
  font-size: 1.1rem;
  list-style: none;
  cursor: pointer;
}

.nav .active {
  border-bottom: 2px solid white;
  line-height: 1.6rem;
}
.gap {
  width: 50px;
  height: 1px;
  border-bottom: 2px solid white;
  cursor: not-allowed;
}

.info {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 200px 40px 50px 40px;
}

.black {
  background-color: rgb(48, 47, 47);
  height: 100%;
}

.info h1 {
  font-size: 2rem;
  padding-bottom: 40px;
}
.info h2 {
  font-size: 1.6rem;
}
.info p {
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-left: 0;
}

.book {
  width: 230px;
  height: 30px;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  margin-top: 40px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.recipes {
  position: absolute;
  bottom: 180px;
  left: 220px;
  width: 150px;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  border: none;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.footer {
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

.sample {
  width: 60%;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

.sample1 .more {
  position: absolute;
  right: 650px;
  padding-top: 0;
  border-bottom: 2px solid white;
  padding-left: 5px;
  padding-right: 0;
  cursor: pointer;
}

.sample2 .more {
  position: absolute;
  right: 40px;
  padding-top: 20px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  cursor: pointer;
}
.sample img {
  width: 180px;
  height: 180px;
  position: absolute;
  top: -30px;
}

.sample1 {
  height: 150px;
  width: 50%;
}
.sample1 p {
  padding-right: 50px;
  line-height: 1.7rem;
}
.sample2 p {
  line-height: 1.7rem;
}
.sample2 {
  height: 150px;
  width: 50%;
}
.sample h2,
p {
  padding-left: 200px;
  padding-top: 10px;
}
.line {
  width: 100px;
  height: 5px;
  border-bottom: 2px solid white;
  position: absolute;
  margin-left: 150px;
}

/* about */

.about {
  width: 100%;
  height: 100%;
  background-image: url(./images/download.jpg);
  background-attachment: fixed;
  background-position: right 300px top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.about:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.aboutinfo {
  width: 43%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 200px 40px 50px 40px;
}
.aboutinfo img {
  width: 100px;
}
.intro {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -20px;
  padding-bottom: 50px;
}
.intro h1 {
  padding-bottom: 0;
}
.aboutinfo p {
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-left: 0;
}
.aboutinfo h3 {
  padding: 40px 0;
  font-size: 1.8rem;
}
.aboutinfo ul {
  padding-left: 20px;
  line-height: 1.5rem;
}

.aboutinfo h1 {
  font-size: 2rem;
}

.aboutinfo h2 {
  width: 290px;
  height: 30px;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  margin-top: 80px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.footer {
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

/* menu */

.menu {
  width: 100%;
  height: 100%;
  background-image: url(./images/menu.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateX(-500px);
}
.menu:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.menuinfo {
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 150px 50px 50px 150px;
}
.menuinfo h1 {
  font-size: 2rem;
  padding-bottom: 30px;
}
.menuinfo h2 {
  padding: 30px 0;
}
.menuinfo h3 {
  width: 290px;
  height: 30px;
  font-size: 1.9rem;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  margin-top: 80px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 40px;
  bottom: 100px;
  cursor: pointer;
}
.menuinfo p {
  padding: 0 20px;
}
.menuinfo img {
  width: 120px;
  height: 100px;
}

.one {
  width: 76%;
  display: flex;
  align-items: center;
  line-height: 1.8rem;
  justify-content: space-between;
  border-left: 2px solid white;
  margin-left: -85px;
  padding-left: 85px;
}
.two {
  width: 110%;
  display: flex;
  align-items: center;
  line-height: 1.8rem;
  justify-content: space-between;
  border-left: 2px solid white;
  margin-left: -85px;
  padding-left: 85px;
}
.three {
  width: 68%;
  display: flex;
  align-items: center;
  line-height: 1.8rem;
  justify-content: space-between;
}

.menufooter {
  width: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.dots {
  height: 100%;
  padding-top: 100px;
  position: absolute;
  left: 30px;
  width: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.dot1 {
  width: 100%;
  margin-bottom: 170px;
}
.dot2 {
  width: 100%;
  margin-bottom: 170px;
}
.dot3 {
  width: 100%;
}

/* contact */

.contact {
  width: 100%;
  height: 100%;
  background-image: url(./images/cutlery.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.contactinfo {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cblack {
  background:linear-gradient(90deg,transparent, black);
  height: 100%;
}
.card {
  width: 450px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}
.form h1{
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    text-align: center;
    width: 100%;
}
.form input, label{
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 3px;
    letter-spacing: 2px;
    outline: none;
    background-color: transparent;
    border: none;
}

.form input::placeholder{
    color: rgb(197, 197, 197);
    font-style: italic;
}
.form input[type="text"],input[type="email"]{
    border-bottom: 2px solid white;
    color: white;
}
.form textarea{
    resize: none;
    padding: 5px;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.send{
    height: 40px;
    width: 150px;
    font-family: "Dancing Script", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: black;
    border-radius: 10px;
    font-weight: 1000;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50%;
    outline: none;
    transform: translateX(-50%);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .9), inset -2px -2px 2px rgba(0, 0, 0, .9);
}
.send:active{
    outline:none;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .8), inset -1px -1px 1px rgba(255, 255, 255, .4);
    transition: all .1s ease;
}

.contactfooter {
  width: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}
