@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.hero {
  width: 100%;
  height: 100%;
  background-image: url(./images/hero.jpg);
  background-attachment: fixed;
  background-position: right 300px top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.logo {
  background-image: url(./images/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(9);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  width: 150px;
  height: 100px;
  cursor: pointer;
  z-index: 10;
}
.logo a {
  color: white;
  text-decoration: none;
}
.massimo {
  font-family: "Dancing Script", cursive;
  padding-left: 100px;
  font-size: 2.5rem;
  cursor: pointer;
}
.nav {
  padding-top: 50px;
  width: 100%;
  position: absolute;
  z-index: 5;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  position: absolute;
  right: 0;
  padding-right: 40px;
}

.nav ul li {
  font-size: 0.8rem;
  list-style: none;
  cursor: pointer;
}

.nav .active {
  border-bottom: 2px solid white;
  line-height: 1.6rem;
}
.gap {
  width: 50px;
  height: 1px;
  border-bottom: 2px solid white;
  cursor: not-allowed;
}

.info {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 200px 40px 50px 40px;
  background-color: rgb(48, 47, 47);
}

.info h1 {
  font-size: 1.6rem;
  padding-bottom: 40px;
}
.info h2 {
  font-size: 1.3rem;
}
.info p {
  font-size: 0.9rem;
  padding-bottom: 10px;
  padding-left: 0;
}

.book {
  width: 200px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  margin-top: 40px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.recipes {
  position: absolute;
  bottom: 150px;
  left: 130px;
  width: 120px;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  border: none;
  border-bottom: 3px solid white;
  cursor: pointer;
}

.footer {
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

.sample {
  width: 55%;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}
.sample h2 {
  font-size: 1.1rem;
}
.sample1 .more {
  position: absolute;
  right: 440px;
  bottom: 10px;
  padding-top: 0;
  border-bottom: 2px solid white;
  padding-left: 5px;
  padding-right: 0;
  cursor: pointer;
}

.sample2 .more {
  position: absolute;
  right: 40px;
  bottom: 10px;
  padding-top: 20px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  cursor: pointer;
}
.sample img {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -30px;
}

.sample1 {
  height: 150px;
  width: 50%;
}
.sample1 p {
  padding-right: 20px;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-top: 20px;
}
.sample2 p {
  font-size: 0.8rem;
  line-height: 1rem;
  padding-top: 20px;
}
.sample2 {
  height: 150px;
  width: 50%;
}
.sample h2,
p {
  padding-left: 180px;
  padding-top: 10px;
}
.line {
  width: 100px;
  height: 5px;
  border-bottom: 2px solid white;
  position: absolute;
  margin-left: 120px;
}

/* about */

.about {
  width: 100%;
  height: 100%;
  background-image: url(./images/download.jpg);
  background-attachment: fixed;
  background-position: right 300px top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.about:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.aboutinfo {
  width: 43%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 150px 40px 50px 40px;
  background-color: rgb(48, 47, 47);
}
.aboutinfo img {
  width: 100px;
}
.intro {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -20px;
  padding-bottom: 50px;
}
.intro h1 {
  padding-bottom: 0;
}
.aboutinfo p {
  font-size: 1rem;
  padding-bottom: 10px;
  padding-left: 0;
}
.aboutinfo h3 {
  padding: 40px 0;
  font-size: 1.5rem;
}
.aboutinfo ul {
  padding-left: 20px;
  line-height: 1.5rem;
}
.aboutinfo ul li {
  font-size: 0.8rem;
}

.aboutinfo h1 {
  font-size: 2rem;
}

.aboutinfo h2 {
  width: 240px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.footer {
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

/* menu */

.menu {
  width: 100%;
  height: 100%;
  background-image: url(./images/menu.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  transform: translateX(-500px);
}
.menu:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.menuinfo {
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  padding: 120px 50px 20px 80px;
  background-color: rgb(48, 47, 47);
}
.menuinfo h1 {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.menuinfo h2 {
  font-size: 1.2rem;
  padding: 20px 0;
}
.menuinfo h3 {
  width: 240px;
  height: 30px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 10px;
  margin-top: 100px;
  border: none;
  border-bottom: 3px solid white;
  position: absolute;
  right: 100px;
  bottom: 70px;
  cursor: pointer;
}

.menuinfo p {
  font-size: 0.9rem;
  padding: 0 20px;
}
.menuinfo img {
  width: 100px;
  height: 80px;
}

.one {
  width: 79%;
  display: flex;
  align-items: center;
  line-height: 1rem;
  justify-content: space-between;
  border-left: 2px solid white;
  margin-left: -45px;
  padding-left: 45px;
}
.two {
  width: 115%;
  display: flex;
  align-items: center;
  line-height: 1rem;
  justify-content: space-between;
  border-left: 2px solid white;
  margin-left: -45px;
  padding-left: 45px;
}
.three {
  width: 73%;
  display: flex;
  align-items: center;
  line-height: 1rem;
  justify-content: space-between;
}

.menufooter {
  width: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.dots {
  height: 100%;
  padding-top: 75px;
  position: absolute;
  left: 10px;
  width: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7rem;
}
.dot1 {
  width: 100%;
  margin-bottom: 130px;
}
.dot2 {
  width: 100%;
  margin-bottom: 128px;
}
.dot3 {
  width: 100%;
}

/* contact */

.contact {
  width: 100%;
  height: 100%;
  background-image: url(./images/cutlery.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.contactinfo {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cblack {
  background: linear-gradient(90deg, transparent, black);
  height: 100%;
}
.card {
  width: 400px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}
.form h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}
.form input,
label {
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding: 3px;
  letter-spacing: 2px;
  outline: none;
  background-color: transparent;
  border: none;
}

.form input::placeholder {
  color: rgb(197, 197, 197);
  font-style: italic;
}
.form input[type="text"],
input[type="email"] {
  border-bottom: 2px solid white;
  color: white;
}
.form textarea {
  resize: none;
  padding: 5px;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.send {
  height: 40px;
  width: 150px;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: black;
  border-radius: 10px;
  font-weight: 1000;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50%;
  outline: none;
  transform: translateX(-50%);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.9),
    inset -2px -2px 2px rgba(0, 0, 0, 0.9);
}
.send:active {
  outline: none;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8),
    inset -1px -1px 1px rgba(255, 255, 255, 0.4);
  transition: all 0.1s ease;
}

.contactfooter {
  width: 80%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

@media (max-width: 600px) {
  .hero {
    background-position: center;
  }
  .nav {
    height: 50%;
  }
  .nav > ul {
    flex-direction: column;
    left: 20px;
    top: 100px;
    width: 100px;
    height: 100%;
    padding: 0;
  }
  .nav > ul > li {
    padding-top: 10px;
    width: 100%;
    text-align: left;
  }
  .info {
    width: 50%;
    right: 0;
    padding: 120px 10px 20px 10px;
  }
  .info > h1 {
    font-size: 1.2rem;
    padding-bottom: 0;
  }

  .info > h2 {
    font-size: 0.9rem;
  }
  .info > p {
    font-size: 0.8rem;
  }
  .book {
    width: 140px;
    height: 30px;
    margin-top: 20px;
    border: none;
    right: 10px;
    border: none;
    border-bottom: 3px solid white;
  }
  .recipes {
    bottom: 90px;
    left: 40px;
  }
  .footer_info {
    font-size: 0.7rem !important;
  }
  .sample {
    display: none;
  }
  .about:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .about {
    background-position: center;
  }
  .intro {
    text-align: center;
    margin-left: 0;
  }
  .intro > h1 {
    font-size: 1.2rem;
  }
  .aboutinfo {
    width: 45%;
    padding: 100px 10px 40px 10px;
  }
  .aboutinfo > p {
    font-size: 0.7rem;
    padding: 10px 0 0 0;
  }
  .aboutinfo > h3 {
    padding: 0;
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .aboutinfo h2 {
    width: 170px;
    right: 40px;
    bottom: 60px;
    font-size: 1rem;
  }
  .aboutinfo ul {
    padding-left: 10px;
    line-height: 1.2;
  }
  .intro {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -20px;
  }
  .intro > h1 {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  .footer > p {
    font-size: 0.7rem;
  }

  .menu {
    transform: translateX(0px);
  }
  .menuinfo {
    padding: 100px 10px 20px 20px;
  }
  .menuinfo img {
    width: 80px;
    height: 60px;
  }
  .dots {
    display: none;
  }
  .one {
    border: none;
  }
  .two {
    border: none;
  }
  .one,
  .two,
  .three {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }
  .one > p:nth-of-type(2) {
    display: none;
  }

  .one > img:nth-of-type(2) {
    display: none;
  }

  .two > p:nth-of-type(2) {
    display: none;
  }

  .two > img:nth-of-type(2) {
    display: none;
  }

  .two > p:nth-of-type(3) {
    display: none;
  }

  .two > img:nth-of-type(3) {
    display: none;
  }

  .three > p:nth-of-type(2) {
    display: none;
  }

  .three > img:nth-of-type(2) {
    display: none;
  }
  .one > p,
  .two > p,
  .three > p {
    padding: 0 0 0 10px;
    font-size: 0.7rem;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .nav {
    height: 50%;
  }
  .nav > ul {
    flex-direction: column;
    left: 20px;
    top: 100px;
    width: 100px;
    height: 100%;
    padding: 0;
  }

  .nav > ul > li {
    padding-top: 10px;
    width: 100%;
    text-align: left;
  }

  .info {
    width: 35%;
    padding: 100px 20px 50px 20px;
  }
  .info > p {
    padding-top: 0;
  }
  .hero {
    background-position: top;
  }
  .sample {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 600px;
    top: 120px;
    left: 20%;
    width: 200px;
  }
  .sample1 {
    height: 150px;
    width: 100%;
    position: relative;
    top: -100px;
  }
  .sample1 > h2,
  p {
    padding-left: 0;
    padding-top: 120px;
  }
  .sample1 > p {
    padding-right: 0;
    line-height: 1;
  }
  .sample1 .more {
    right: -70px;
    bottom: -100px;
  }
  .line {
    top: 20px;
  }
  .sample2 {
    height: 150px;
    width: 100%;
    position: relative;
    bottom: -50px;
  }
  .sample2 > h2,
  p {
    padding-left: 0;
    padding-top: 120px;
  }
  .sample2 .more {
    right: -70px;
    bottom: -95px;
  }

  .about {
    background-position: center;
  }
  .aboutinfo {
    padding: 80px 40px 50px 40px;
  }
  .aboutinfo > p {
    font-size: 0.9rem;
    padding-top: 10px;
  }
  .aboutinfo > h3 {
    padding: 20px 0;
  }
  .aboutinfo > h2 {
    margin-top: 50px;
  }

  .menu {
    transform: translateX(0px);
  }
  .menuinfo {
    padding: 100px 10px 20px 20px;
  }
  .menuinfo p {
    padding: 0 10px;
  }
  .dots {
    display: none;
  }
  .one {
    border: none;
  }
  .two {
    border: none;
  }

  .one,
  .two,
  .three {
    padding: 0;
    margin: 0;
    width: 310px;
    overflow: hidden;
  }
  .recipes {
    bottom: 80px;
    left: 90px;
  }
  .footer_info {
    padding-top: 0;
  }
}
